---
import Layout from '~/layouts/PageLayout.astro';
import Features5 from '~/components/widgets/Features5.astro';
import wechatQRCode from '~/assets/images/wechat-qrcode.png';

const metadata = {
  title: 'Custom service',
};
---

<Layout metadata={metadata}>
    <Features5
    id="customer-service"
    columns={3}
    isDark={false}
    isBeforeContent={true}
    title="客户服务"
    subtitle="欢迎使用Adora智能客户服务，新讯智能为您提供7×24小时多样化支持计划和专家服务，解决您的售前/售后问题。"
    items={[
      {
        title: '微信',
        description: '请添加微信号：nhuang',
        icon: 'tabler:brand-wechat',
        //image: {
        //  src: adora1minifeature1,
        //  alt: 'adora1 Mini Feature 1'
        //},
      },
      {
        title: '邮箱',
        description: 'nhuang@dora-rs.org',
        icon: 'tabler:mail',
        //image: {
        //  src: adora1minifeature1,
        //  alt: 'adora1 Mini Feature 1'
        //},
      },
//      {
//        title: '联系电话',
//        description: '139XXXXXXXX',
//        icon: 'tabler:phone',
        //image: {
        //  src: adora1minifeature1,
        //  alt: 'adora1 Mini Feature 1'
        //},
//      },
/*      {
        title: '采购下单',
        description: '请点击前往<a href="/" class="text-blue-500 text-bold hover:underline">购买与合作</a>，填写相关信息。',
        icon: 'tabler:headset',
      }, */
    ]}
  />

  <Features5
    id="customer-service"
    columns={4}
    isDark={false}
    isBeforeContent={true}
    title="社交媒体"
    subtitle=""
    items={[
      {
        title: '微信公众号',
        description: '请扫码关注微信公众号：',
        icon: 'tabler:brand-wechat',
        image: {
          src: wechatQRCode,
          alt: 'wechatQRCode'
        },
      },
      {
        title: '哔哩哔哩',
        description: '建设中，敬请期待',
        icon: 'tabler:brand-bilibili',
        //image: {
        //  src: adora1minifeature1,
        //  alt: 'adora1 Mini Feature 1'
        //},
      },
      {
        title: '腾讯视频',
        description: '建设中，敬请期待',
        icon: 'tabler:brand-qq',
        //image: {
        //  src: adora1minifeature1,
        //  alt: 'adora1 Mini Feature 1'
        //},
      },
      {
        title: '抖音',
        description: '建设中，敬请期待',
        icon: 'tabler:brand-tiktok',
        //image: {
        //  src: adora1minifeature1,
        //  alt: 'adora1 Mini Feature 1'
        //},
      },
    ]}
  />
</Layout>
